
@{
    ViewData["Title"] = "PasswordVerify";
}

<h1>PasswordVerify</h1>

<form asp-action="PasswordVerify" asp-controller="IO" method="post">
    <label>Yeni şifre oluştur</label>
    <input type="password" name="password" value="" />
    <button class="btn btn-primary">Gönder</button>
</form>




