@*@model PasswordReset*@
@{
    ViewData["Title"] = "PasswordReset";
}

<form asp-action="PasswordReset" asp-controller="IO" method="post">

    <label for="UserName">Kullanıcı Adı Giriniz</label>
    <input type="text" name="UserName"  />
    <hr />
    @*<label>İsminizi Giriniz</label>
    <input type="text" name="@Model.FirstName" value="" />
        dogrulama yaparken bunları eklerim
    <hr />
    <label>Soyadınızı Giriniz</label>
    <input type="text" name="@Model.LastName" value="" />
    <hr />
    <label>Yaşınızı Giriniz</label>
    <input type="text" name="@Model.Age" value="" />*@
<button class="btn btn-primary">Gönder</button>


</form>

