
@section navbar
{
    <partial name="_usernavbar">
}

<h1>Index</h1>
Hoşgeldiniz Admin
<ul>
    <li class="nav-item" style="margin-left:80px">
        <a class="nav-link btn btn-primary text-white" asp-controller="Admin" asp-action="List">User List</a>
    </li>
</ul>


