
@section navbar{ 
  <partial name="_usernavbar" />
} 

<form asp-action="Update" asp-controller="Message" method="post">


    <textarea rows="10" cols="80" name="message">

</textarea>
    <button> Değiştir</button>

</form>
