@model List<TempPCModel>

@section navbar{ 
    <partial name="_navbar" />
}
<h1 class="display-4" style="text-align:center;background-color:red; color:white;font-weight:bold">Haftanın Ürünleri</h1>



    <div class="row" >
        <partial name="_mid" />

    </div>

    



