@model UserBakiyemModel

@{
    ViewData["Title"] = "Bakiyem";
}
@section navbar{ 
<partial name="_usernavbar" />
}

<div class="row">
    <div class="col-md-6" style="text-align:center ; margin-top: 80px; position:center center" >
        
            <h1>Bakiyem</h1>

            <h4>@Model.UserInfo.Balance</h4>
            <a href="#" class="btn btn-lg btn-primary">Parayı Çek</a>
        

    </div>
    <div class="col-md-6">
        <img src="~/img/etic4.jpg" width="560" height="460" />
    </div>
</div>
