@model UserHesapBilgilerimModel
@{
    ViewData["Title"] = "HesapBilgilerim";
}

@section navbar
{
    <partial name="_usernavbar" />
}


Sitemize hoşgeldiniz @Model.User.FirstName

<h1>HesapBilgilerim</h1>

<h4>Kullanıcı Adı  :@Model.User.UserName</h4>
<h4>İsim  :@Model.User.FirstName</h4>



