@model BasketOrderModel
@{
    ViewData["Title"] = "Odeme";
}
@section navbar{
    <partial name="_usernavbar" />
}
<div class="row">
    <div class="col-md-6 " style="text-align:center; margin-top:140px;">
        <h4> Sayın @Model.FirstName @Model.LastName Sipariş Alınmıştır...</h4> <br />
        <a  asp-action="Index" asp-controller="User" class="btn btn-lg btn-primary">Ana Sayfaya Dön</a>
        <a asp-action="GetAll" asp-controller="Product" class="btn btn-lg btn-primary ml-4">Alışverişe Devam Et</a>

    </div>
    <div class="col-md-6">

        <img src="~/img/send_email.png" width="660" height="560" />
    </div>
</div>




