@model List<FavoriGetAllModel>
@{
    ViewData["Title"] = "GetAll";
}

@section navbar{
    <partial name="_usernavbar" />
}

<h4 style="color:red;">Favorilerin</h4>

<div class="row mt-4">
    <div class="col-md-3">
        <div style="position:fixed;">
            <ul class="list-group">
                <li class="list-group-item" style="width:320px;"><a asp-action="GetByCategoryId" asp-controller="Favori" asp-route-id="1">Bilgisayar</a></li>
                <li class="list-group-item"><a asp-action="GetByCategoryId" asp-controller="Favori" asp-route-id="2">Telefon</a></li>
                <li class="list-group-item"><a asp-action="GetByCategoryId" asp-controller="Favori" asp-route-id="3">Giyim</a></li>
                <li class="list-group-item"><a asp-action="GetByCategoryId" asp-controller="Favori" asp-route-id="4">Yiyecek</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">

        <partial name="_slider" />

        <div class="row mt-4">
            @foreach (var product in Model)
            {
                <partial name="_favori" model="product" />
            }
        </div>

    </div>
</div>


