@*@model LoginCheck*@

@section navbar{ 
    <partial name="_usernavbar"/>
}

<h3>Ürününüz başarılı bir şekilde eklenmiştir. </h3>
 @*@Model.l*@ Bizleri tercih ettiğiniz için Teşekkür ederiz . . . . 
<a asp-action="Index" asp-controller="User">Ana Sayfa</a>

