@model List<Product>

@{
    ViewData["Title"] = "Telefon";
}

<div class="row">  
    @foreach (var item in Model)
    {
       
            <partial name="_product" model="item" />
      
    }
</div>
